@import "../../styles/variables.css";

.topbar {
  height: 64px;
  background: #ffffff;
  border-bottom: 1px solid var(--color-bg-hover);
  padding: 0 24px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-family: var(--font-family);
}

.left {
  display: flex;
  align-items: center;
  gap: 12px;
}

.title {
  font-size: 1.25rem;
  font-weight: 600;
  color: black;
  margin: 0;
}

.bellBtn {
  border: none;
  background: none;
  cursor: pointer;
  padding: 6px;
  border-radius: var(--radius-md);
  transition: background 0.2s;
}

.bellBtn:hover {
  background: var(--color-bg-hover);
}

.icon {
  width: 24px;
  height: 24px;
}
